<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="'/'">Crud App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="'/'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dashboard routes
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="'/dashboard/albums'">Albums</a></li>
                        <li><a class="dropdown-item" [routerLink]="'/dashboard/comments'">Comments</a></li>
                        <li><a class="dropdown-item" [routerLink]="'/dashboard/photots'">Photos</a></li>
                        <li><a class="dropdown-item" [routerLink]="'/dashboard/posts'">Posts</a></li>
                        <li><a class="dropdown-item" [routerLink]="'/dashboard/todos'">Todos</a></li>
                        <li><a class="dropdown-item" [routerLink]="'/dashboard/users'">Users</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>